@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Formula1";
        font-weight: 400;
        src: url(/fonts/Formula1-Regular-1.ttf) format("truetype");
    }
}

/* Global resets */
html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Formula1", sans-serif;
}
